@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
html{
    scroll-behavior: smooth;
    font-family: "Bungee", sans-serif;
    font-weight: 700;
  font-style: normal;
}